# Enviroment variables to be set in production
# Port on which the client will run (Heroku will set this automatically)
# When running via docker don't forget to expose it via -p argument (unless running on default host network)
PORT=3000
# URL of server with running jard API
REACT_APP_API_URL=http://localhost:8081/api
